body {
  margin: 4em 4em 4em 4em;
  background: #f9e5da;
}
h1 {
  font-size: 70px;
  margin-left: 0;
  margin-top: 0.5em;
  font-family: 'Radiance-SemiBold', Verdana;
  font-variant: all-small-caps;
  color: #26251d;
}
h2 {
  font-size: 50px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 10px;
  padding: 0.1em 0;
  font-family: 'Radiance', Verdana;
  font-variant: all-small-caps;
  color: #26251d;
}
h3 {
  font-size: 25px;
  margin-top: 0.85em;
  margin-left: 52.5px;
  margin-bottom: 0.25em;
  padding: 0.1em 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline dashed;
  color: #26251d;
}
h4 {
  font-size: 20px;
  margin-top: 1em;
  margin-left: 52.5px;
  margin-bottom: 0.5em;
  padding: 0.1em 0;
  font-family: 'Radiance-Light', Verdana;
  font-variant: all-small-caps;
  color: #26251d;
}
#about{
  font-size: 15px;
  margin-bottom: 0.5em;
  margin-left: 52.5px;
  line-height: 140%;
  cursor: text;
  font-family: 'Roboto', sans-serif;
  max-width: 80%;
}
#resume {
  font-size: 20px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 52.5px;
  line-height: 140%;
  cursor: text;
  font-family: 'Roboto', sans-serif;
  max-width: 80%;
}
p {
  font-size: 15px;
  margin-bottom: 1em;
  margin-left: 90px;
  line-height: 100%;
  cursor: text;
  font-family: 'Roboto', sans-serif;
  max-width: 80%;
}
iframe {
  margin-bottom: 0.5em;
  margin-top: 1em;
  margin-left: 90px;
  line-height: 100%;
}
a {
  text-decoration: none;
  color: #2442ff;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
a:visited {
  color: #23aeff;
  /*color: #192eb3;*/
}
em {
  font-weight: bold;
}
ol {
  list-style-type:decimal;
  margin: 1em 0 0 1em;
  padding: 0;
}
li {
  font-size: 20px;
  margin-bottom: 1em;
  margin-left: 90px;
  line-height: 100%;
  cursor: text;
  font-family: 'Roboto', sans-serif;
  color: #26251d;
}
span {
  margin-left: 1em;
}
input, video {
  float: right;
}
