* {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition:    all 0.1s ease-out;
  -o-transition:      all 0.1s ease-out;
  -ms-transition:     all 0.1s ease-out;
}
html {
  -webkit-text-size-adjust: none;
}
    
#page {
  background: #f9e5da;
}

#head-bio {
  padding-top: 3vw;
  padding-bottom: 2vw;
  padding-left: 52.5px;
  background: #26251d;
}
@media screen and (max-width: 860px) {
  #head-bio {
    padding-left: 15px;
    padding-top: 15px;
  }
}

#content {
  background: #f9e5da;
}

h1 {
  font-size: 6vw;
  margin-left: 0;
  word-spacing: 15px;
  font-family: 'manrope-bold', Verdana;
  color: #f9e5da;
}
@media screen and (min-width: 860px) {
  h1 {
    font-size: 3.25em;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    word-spacing: 5px;
  }
}

h2 {
  font-size: 3vw;
  padding: 0.1em 0;
  font-family: 'manrope-regular', Verdana;
  color: #f9e5da;
}
@media screen and (min-width: 860px) {
  h2 {
    font-size: 1.625em;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    margin-left: 0;
  }
}

h3 {
  font-size: 25px;
  margin-top: 0.85em;
  margin-left: 52.5px;
  margin-bottom: 0.25em;
  padding: 0.1em 0;
  font-family: 'manrope-regular', sans-serif;
  color: #26251d;
}
@media screen and (max-width: 860px) {
  h3 {
    margin-left: 0;
    font-size: 15px;
  }
}

h4 {
  font-size: 20px;
  margin-top: 1em;
  margin-left: 52.5px;
  margin-bottom: 0.5em;
  padding: 0.1em 0;
  font-family: 'Radiance-Light', Verdana;
  font-variant: all-small-caps;
  color: #26251d;
}

#about{
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  margin-left: 0;
  max-width: 60vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  color: #f9e5da;
}
@media screen and (min-width: 860px) {
  #about {
    font-size: 18px;
  }
}
@media screen and (max-width: 860px) {
  #about {
    max-width: 100%;
    padding-right: 15px;
  }
}

#blog {
  padding-left: 50px;
}
#resume, #blog {
  font-size: 1.6vw;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  margin-left: 0;
  cursor: text;
  font-family: 'manrope-light', sans-serif;
  display: inline;
  
  background-color: rgba(249, 230, 220, 0.5);
  border-radius: 25px;
  padding-left: 4px;
  padding-right: 5px;
}
#resume > .dark-bkgd, #blog > .dark-bkgd {
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 1200px) {
  #resume, #blog {
    font-size: 19px;
  }
}
@media screen and (max-width: 860px) {
  #resume, #blog {
    font-size: 15px;
    margin-left: 20px;
    padding-bottom: 5px;
  }
}

a {
  text-decoration: underline;
  color: #623CEA;
}
a:visited {
  color: #4B2EB3;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #9F84FF;
}

p {
  font-size: 1.67vw;
  margin-bottom: 1em;
  margin-left: 90px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 860px) {
  p {
    font-size: 18px;
  }
}
@media screen and (max-width: 860px) {
  p {
    font-size: 14px;
    margin-left: 20px;
  }
}

iframe {
  margin-bottom: 0.5em;
  margin-top: 1em;
  margin-left: 90px;
  line-height: 100%;
}
@media screen and (max-width: 860px) {
  iframe {
    width: 300px;
    height: 169px;
    margin-left: 0;
  }
}

em {
  font-weight: bold;
}
ol {
  list-style-type:decimal;
  margin: 1em 0 0 1em;
  padding: 0;
}
li {
  font-size: 20px;
  margin-bottom: 1em;
  margin-left: 90px;
  line-height: 100%;
  cursor: text;
  font-family: 'Roboto', sans-serif;
  color: #26251d;
}

#easter-egg { 
  display: flex;
  position: relative;
  right: 52.5px;
}
@media screen and (min-width: 1500px) {
  #easter-egg {
    float: right;
  }
}
@media screen and (max-width: 1500px) {
  #easter-egg {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 500px) {
  #easter-egg {
    position: relative;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin-right: 15px;
    float: right;
  }
}

#easter-egg-button {
  height: 40px;
  filter: brightness(2);
}
@media screen and (max-width: 1500px) {
  #easter-egg-button {
    float: right;
  }
}
@media screen and (max-width: 500px) {
  #easter-egg-button {
    height: 20px;
  }
}

#easter-egg-video { }
@media screen and (min-width: 1500px) {
  #easter-egg-video {
    padding-right: 10px;
  }
}
@media screen and (max-width: 1500px) {
  #easter-egg-video {
    padding-top: 10px;
    padding-bottom: 10px;
}
@media screen and (max-width: 860px) {
  #easter-egg-video {
    margin-right: 15px;
}

hr {
  border-top: 1px solid #26251d;
}
