body {
  margin: 4vw 4vw 4vw 4vw;
  background: #f9e5da;
}
@media screen and (max-width: 500px) {
  body {
    margin: 2em 1em 1em 1em;
  }
}

h1 {
  font-size: 6vw;
  margin-left: 0;
  word-spacing: 15px;
  font-family: 'manrope-bold', Verdana;
  color: #26251d;
}
@media screen and (max-width: 500px) {
  h1 {
    word-spacing: 5px;
  }
}

h2 {
  font-size: 3vw;
  margin-left: 10px;
  padding: 0.1em 0;
  font-family: 'manrope-regular', Verdana;
  color: #26251d;
}
@media screen and (max-width: 500px) {
  h2 {
    
    margin-left: 0;
  }
}

h3 {
  font-size: 25px;
  margin-top: 0.85em;
  margin-left: 52.5px;
  margin-bottom: 0.25em;
  padding: 0.1em 0;
  font-family: 'manrope-regular', sans-serif;
  text-decoration: underline;
  color: #26251d;
}
@media screen and (max-width: 860px) {
  h3 {
    margin-left: 0;
    font-size: 15px;
  }
}

h4 {
  font-size: 20px;
  margin-top: 1em;
  margin-left: 52.5px;
  margin-bottom: 0.5em;
  padding: 0.1em 0;
  font-family: 'Radiance-Light', Verdana;
  font-variant: all-small-caps;
  color: #26251d;
}

#about{
  font-size: 1.67vw;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  margin-left: 52.5px;
  font-family: 'Roboto', sans-serif;
  max-width: 60vw;
  display: block;
}
@media screen and (min-width: 860px) {
  #about {
    font-size: 18px;
  }
}
@media screen and (max-width: 860px) {
  #about {
    font-size: 12px;
    margin-left: 20px;
  }
}

#resume, #blog {
  font-size: 1.6vw;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  margin-left: 52.5px;
  cursor: text;
  font-family: 'manrope-light', sans-serif;
  display: inline;
}
@media screen and (max-width: 1200px) {
  #resume, #blog {
    font-size: 19px;
  }
}
@media screen and (max-width: 860px) {
  #resume, #blog {
    font-size: 15px;
    margin-left: 20px;
    padding-bottom: 5px;
  }
}

p {
  font-size: 1.67vw;
  margin-bottom: 1em;
  margin-left: 90px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 860px) {
  p {
    font-size: 18px;
  }
}
@media screen and (max-width: 860px) {
  p {
    font-size: 12px;
    margin-left: 20px;
  }
}

iframe {
  margin-bottom: 0.5em;
  margin-top: 1em;
  margin-left: 90px;
  line-height: 100%;
}
@media screen and (max-width: 860px) {
  iframe {
    width: 300px;
    height: 169px;
    margin-left: 0;
  }
}
a {
  text-decoration: none;
  color: #2442ff;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
a:visited {
  color: #23aeff;
  /*color: #192eb3;*/
}
em {
  font-weight: bold;
}
ol {
  list-style-type:decimal;
  margin: 1em 0 0 1em;
  padding: 0;
}
li {
  font-size: 20px;
  margin-bottom: 1em;
  margin-left: 90px;
  line-height: 100%;
  cursor: text;
  font-family: 'Roboto', sans-serif;
  color: #26251d;
}

#easter-egg { 
  display: flex;
  position: relative;
  left: 0.4vw;
  bottom: 0.4vw;
}
@media screen and (min-width: 1500px) {
  #easter-egg {
    float: right;
  }
}
@media screen and (max-width: 1500px) {
  #easter-egg {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 500px) {
  #easter-egg {
    position: relative;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
}

#easter-egg-button {
  height: 40px;
}
@media screen and (max-width: 1500px) {
  #easter-egg-button {
    float: right;
  }
}
@media screen and (max-width: 500px) {
  #easter-egg-button {
    height: 20px;
  }
}

#easter-egg-video { }
@media screen and (min-width: 1500px) {
  #easter-egg-video {
    padding-right: 10px;
  }
}
@media screen and (max-width: 1500px) {
  #easter-egg-video {
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
  border-top: 1px solid #26251d;
}
